._*
cran-comments.md
.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
datatest
doc
Meta
support.R
.DS_Store
english-ewt-ud-2.5-191206.udpipe
.Rdata
.httr-oauth
.quarto
.Rbuildignore
birddog.Rproj
/doc/
/Meta/
